.chatinput-container{
  padding: 0 10px;
  width: 65%;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10px;
  position: fixed;

  form{
    width: 100%;
    min-height: 50px;
    position: relative;
    .input-chat{
      max-width: 90%;
      min-height: 50px;
      border-radius: 12px;
      border: 1px solid rgb(181, 178, 178);
      background-color: white;

      textarea{
        min-width: 50%;
        max-width: 70%;
        min-height: 30px;
        margin-left: 50px;
        word-wrap: break-word;
        border: none;
        resize: none;
        margin-top: 20px;
        overflow-y: hidden;

        &:focus{
        outline: none;
      }
      }
    }

    .icon-haha{
      width: 40px;
      height: 40px;
      position: absolute;
      left: 10px;
      top: 8px;
    }

    .action{
      position: absolute;
      right: 70px;
      bottom: 15px;

      .icon{
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 10px;
        img{
          width: 20px;
          height: 20px;
        }
      }

    }

    .emoj{
    position: absolute;
    top: -450px;
  }
  }
}


@media (min-width: 768px) and (max-width: 1024px) {
  .chatinput-container{
    form{
      .action{
        right: 70px;
        bottom: 15px;
      }

      .input-chat{
        textarea{
          width: 70%;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .chatinput-container{
    bottom: 70px;
    margin-left: 5%;

     form{
      
      .action{
        left: 65%;
        bottom: 15px;
      }

      .input-chat{
        padding: 0 50px 0 10px;

        textarea{
          width: 70%;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .chatinput-container{
    form{
      .action{
        right: 120px;
        bottom: 15px;
      }

      .input-chat{
        textarea{
          width: 70%;
        }
      }
    }
  }
}