.menu {
    position: fixed;
    width: 16%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    border-right: 1px solid rgb(181, 178, 178);

    .menu-container {
        width: 85%;

        .menu-container-image {

            img {
                cursor: pointer;
                width: 80%;
            }

            height: 20%;
        }

        .menu-container-content {
            height: 80%;
            width: 100%;


            ul {
                width: 100%;
                height: 100%;
                display: grid;
                grid-template-columns: auto;
                list-style: none;
                align-content: space-evenly;

                li {
                    .list {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        cursor: pointer;

                        i {
                            padding: 10px;
                            font-size: 20px;
                        }

                        p {
                            padding: 10px;
                            font-size: 17px;
                        }
                    }
                    
                    .active{
                        font-weight: bold;
                        color: #000;
                    }

                    .list:hover {
                        background: rgb(208, 205, 205);
                        border-radius: 10px;
                    }
                }
            }
        }

    }
}

.menu2{
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: none;

    .box-search-container {
      position: relative;
      z-index: 20;
      margin-left: 14%;

      @media (max-width: 1024px) and (min-width: 768px){
        margin-left: 8%;
    }

    }
}

@media (max-width: 768px){
        .overlay{
            .box-search-container{
                margin-left: 0;
                width: 100%;
            }
        }
}


.show{
    display: flex;
}


@media (max-width: 1024px) and (min-width: 768px) {
  .menu {
    width: 10%;
    .menu-container {
      .menu-container-content {
        ul {
          li {
            .list {
              p {
                display: none;
              }

              &:hover p {
                display: block;
                position: absolute;
                left: 100%;
                color: rgb(195, 193, 193);
              }
            }
          }
        }
      }
    }
  }
}
 @media (max-width: 768px) {
    .menu{
        display: none;
    }
    .menu2{
        display: block;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: auto;
        background-color: white;
        z-index: 20;

      .menu-container-content {
        ul {
            width: 100%;
            list-style: none;
            padding: 20px;
            display: flex;
            justify-content: space-between;

          li {
            flex: 1;
            position: relative;

            .list {
              flex-direction: column;

              i {
                margin: 0;
                font-size: 23px;
              }

              p {
                display: none;
              }

              &:hover p {
                display: block;
                margin-top: -45px;
                color: rgb(195, 193, 193);
              }
            }
          }
        }
      }
  
    }
}