.body-profile{
  margin-left: 32%;
  margin-top: 100px;
  width: 50%;
  position: relative;

  .content-top{
    display: flex;
    justify-content: start;
    gap: 100px;
    .group-avata{
      display: flex;
      flex-direction: column;
      gap: 30px;

      .avata{
        img{
          width: 150px;
          height: 150px;
          border-radius: 50%;
        }

      }

      .hot-story{
        display: flex;
        max-width: 100%;
        height: 110px;
        align-items: center;
        margin-top: 50px;
        .story{
          width: 110px;
          height: 110px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 10px;
          .image{
            width: 80px;
            height: 80px;
            border-radius: 50%;
            border: 2px solid rgb(206, 205, 205);
            display: flex;
            justify-content: center;
            align-items: center;
            img{
              width: 70px;
              height: 70px;
              border-radius: 50%;
            }
          }
        }
        .add-post{
          width: 50px;

          p{
            text-align: center;
          }
        }
      }
    }

    .right{
      position: absolute;
      left: 200px;
      .action{
        display: flex;
        justify-content: start;
        gap: 20px;

        .name{
          font-size: 30px;
        }

        img{
          width: 30px;
          height: 30px;
        }

        .group-btn{
          display: flex;
          gap: 20px;
          .btn-action-1{
            width: 170px;
            height: 35px;
            border: none;
            border-radius: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;

            img{
              height: 20px;
              width: 20px;
            }
          }

          .btn-action-2{
            width: 100px;
            height: 35px;
            border: none;
            border-radius: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .btn-action-3{
            width: 50px;
            height: 35px;
            border: none;
            border-radius: 12px;
            display: flex;
            justify-content: center;
            align-items: center;

            img{
              width: 20px;
              height: 20px;
            }
          }
        }
      }

      .data{
        margin-top: 40px;
        display: flex;
        justify-content: start;
        gap: 25px;

        &:hover{
          color: rgb(59, 59, 59);
        }
      }

    }


  }

  .content-bottom{
    margin-top: 100px;
    border-top: 1px solid rgb(181, 178, 178);
    .menu-profile{
      display: flex;
      justify-content: center;
      gap: 50px;
      .menu-item{
        height: 50px;
        width: 130px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        color: rgb(154, 153, 153) ;
        cursor: pointer;

        img{
          width: 20px;
          height: 20px;
        }

        &.active{
          color: black;
          border-top: 2px solid  rgb(3, 3, 3);
        }
      }
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;

    .option-container {
      position: relative;
      z-index: 20;
    }
  }
}

@media (max-width: 1024px) {
  .body-profile{
    margin-left: 15%;
    width: 80%;

    .content-top{
      .group-avata{
        .avata{
          img{
            width: 100px;
            height: 100px;
          }
        }
      }
    }
    .right{
      display: flex;
      flex-direction: column;

      .action{
        display: flex;
        flex-direction: column;

        .group-btn{
          .btn-action{
            width: 100px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .body-profile{
    position: absolute;
    width: 100%;
    margin-left: 5%;
    margin-top: 150px;

    .right{
      margin-left: -15%;

      .action{

        .group-btn{
          .btn-action{
            width: 100px;
          }
        }
      }
    }
  }
  
}