.post-container {
    margin-bottom: 24px;
    border-radius: 3px;
    border: 1px solid #dbdbdb;
    background-color: #fff;
    width: 100%;

    .post-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid #efefef;

        .post-header-right {
            margin-left: 14px;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-grow: 1;
            flex-shrink: 1;
            overflow: hidden;

            .post-header-username a {
                color: #262626;
                font-weight: 600;
                text-decoration: none;
            }

            .post-header-option {
                font-size: 20px;
                cursor: pointer;
            }
        }
    }

    .post-image {
        background-color: #efefef;
        display: block;
        width: 100%;
        overflow: hidden;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .post-group-bottom {
        padding: 0 16px;
        margin-top: 4px;

        .icons {
            display: flex;
            align-items: center;
            justify-content: space-between;

            i {
                font-size: 28px;
                color: #262626;
                padding: 8px;
                cursor: pointer;
                transition: all 0.3s;
            }

            .fa-heart:hover,
            .fa-comment:hover,
            .fa-paper-plane:hover,
            .fa-bookmark:hover {
                color: gray;
            }



            .icons-right span {
                transition: all 0.5s ease;
            }

            .icons-right span:hover {
                opacity: 0.8;
            }
        }

        .post-likes {
            margin-bottom: 8px;

            p {
                font-weight: bold;
                color: #262626;
                font-size: 14px;
            }
        }


    }

    .post-caption {
        padding: 0 16px;

        .username {
            p {
                color: #262626;
                font-weight: 600;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                padding-left: 5px;
                margin-left: -5px;
                font-size: 14px;
            }

            .caption {
                font-size: 14px;
                font-weight: 400;
                color: rgb(85, 85, 85);
            }

        }

        .post-caption-time {
            font-size: 10px;
            color: #8e8e8e;
            margin-bottom: 5px;
            text-transform: uppercase;
            margin-top: 5px;
        }

    }

    .post-comment {
        margin-top: 4px;
        border-top: 1px solid #efefef;
        color: #8e8e8e;
        max-height: 56px;
        padding: 13px 0;

        form {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px;

            input {
                width: 100%;
                height: 18px;
                padding: 9px;
                outline: none;
                border: none;
            }

            button {
                background-color: transparent;
                color: #52b3f4;
                font-weight: 600;
                border: none;
                cursor: pointer;

            }

            button:hover {
                color: #095f98;
            }
        }
    }

}