.container{
  width: 300px;
  height: 250px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  margin-top: 300px;
  margin-left: -180px;
  border-radius: 8px;
  z-index: 30;
  padding: 10px 20px;
  position: relative;
  background-color: white;

  .info{
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    gap: 10px;


    img{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid rgb(24, 24, 24);
    }
  }

  .count{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .count-item{
      p{
        text-align: center;
        font-size: 15px;
      }
    }
  }

  .bottom-card-user{
    position: absolute;
    width: 83%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 10px;

    .btn-follow{
      width: 100%;
      height: 35px;
      border-radius: 12px;
      border: none;
      cursor: pointer;
      background-color: rgb(73, 73, 251);
      color: whitesmoke;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      .icon-follow{
        width: 15px;
        height: 15px;
        filter: brightness(0) invert(1);
      }

      &:hover{
        background-color: blue;
      }
    }

    .isfollow{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      button{
        width: 100px;
        height: 35px;
        border-radius: 8px;
        border: none;
        cursor: pointer;
      }

      .btn-message{
        background-color: rgb(73, 73, 251);
        color: whitesmoke;

        &:hover{
          background-color: blue;
        }
      }
    }
  }
  .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 3;

      .item-explore-container {
        position: relative;
        width: 80%;
        z-index: 4;
      }
    }
}