* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  ;
}

// index.css or App.css
body.dark-mode {
  background-color: black;
  color: white;
}

body.light-mode {
  background-color: white;
  color: black;
}